*{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}
.Main-container{
  /*background: linear-gradient(to left bottom,red,rgba(0, 63, 199, 0.712)) ;*/
  background: linear-gradient(to left bottom,rgba(247, 88, 88, 0.678),rgba(0, 63, 199, 0.712)) ;
  width: 100%;
  height: 100%;
}





.Main-Skill-container{
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 3rem ;
  height: auto;
 
}

@media screen and (max-width: 600px){
  .Main-Skill-container{
    gap: 5rem;
  }
}


@media screen and (min-width:1024px){
  .Main-Skill-container{
    flex-direction: row;
    justify-content: space-around;
  }
}




